
/* UTILITIES */
main {
  padding-top: 13em;
  text-align: center;
  height: 710px;
  background-color: #e1f0d9;
  border-radius: 2em;
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* NAVBAR STYLING STARTS */
#spacer{
  height: 4em;
  position: fixed;
  color: white;
  background-color: white;
  width: 100%;
}
#NavBar {
  margin-top: .5em;
  position: fixed;
  width: 80%;
  display: block;
  margin-left: 16%;
  padding: 20px;
  background-color:rgb(18, 107, 18);
  color: #ffffff;
  overflow: hidden;
  border-top-right-radius: 1.75em;
  border-bottom-right-radius: 1.75em;
  height: 10em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#NavBar .nav-links{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#NavBar .search-bar{
  padding-top: 3em;
  text-align: right;
}
#NavBar .search-bar input{
  border-radius: 1.25em;
  font-size: 1.5em;
  width: 15em;
  height: 1.5em;
  padding-left: .5em;
}


.nav-links a {
  color: #ffffff;
  font-size: 1.2em;
}

/* LOGO */
#logo{
  width: 100px;
}

.logo p{
  font-size: .5em;
  text-decoration: none;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor:pointer;
}

.menu li {
  padding: 5px 14px;
  height: 1.65em;
}

/* NAVBAR STICKY PROPERTY */


/* DROPDOWN MENU */
.services {
  position: relative; 
}

#dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  display: none;
  border-radius: 8px;
}

#dropdown li + li {
  margin-top: 10px;
}

#dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
  height: 2em;
}

#dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover #dropdown {
  display:block;
  position: fixed;
}
/* BODY STYLING STARTS*/

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}


.sidebar {
  width: 20%;
  height: 98vh;
  position: -webkit-sticky;
  position: sticky;
  top: .5em;
  margin-right: .5em;
  margin-top: .5em;
  border-top-left-radius: 2em;
  overscroll-behavior-y:auto;
  overflow:auto;
}

.sidebar .sidebar-logo-wrapper{
  border-top-left-radius: 2em;
}

.sidebar-logo{
  background-color:rgb(18, 107, 18);
  align-items: center;
  text-align: center;
  color: white;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  padding-top: .75em;
}

.sidebar #title{
  padding-left: .75em;
  padding-top: .2em;
  padding-bottom: .2em;
  color: #366229;
}

.filter-category{
  padding-left: 1em;
  padding-right: 1em;
  margin-top: .3em;
  padding-top: .2em;
  padding-bottom: .5em;
}

.sidebar-main .filter {
  margin-top: 1em;
  margin-bottom: .5em;
  border-radius: .15em;
  padding-left: .25em;
  background-color: #C1D2B2;
  padding-top: .2em;
  font-size: .875em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-main #category-name{
  margin-top: .3em;
  font-size: larger;
}

.sidebar .sidebar-main .min-rating{
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.main {
  width: 100%;
  position:static;
  background-color: #C1D2B2;
  padding: 6em;
  margin-top: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
#rating-dropdown{
  margin-top: .25em;
}
#rating-dropdown select{
  margin-top: .25em;
}


body {
  font-family: sans-serif;
  margin: 2%;
  margin-top: 0;
}

.result-title{
  text-decoration: none;
  color: #366229;
  font-size: large;
}

.result{
  border-radius: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.result-main {
  margin-top: 4em;
  border-radius: .5em;
  background-color: #fbfde1;
  display: flex;
  height: 6.5em;
}
.result-main .result-title{
  width: 25%;
  border-right: solid 3px #C1D2B2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  font-size: 1.3em;
}
.result-main .result-description{
  width: 80%;
  padding: 1em;
}
.result .result-options{
  background-color: #71885C;
  display: flex;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  justify-content: space-between;
  height: 4.25vh;
}
.result .result-options .result-options-buttons a{
  text-decoration: none;
  color: white;
  border-right: 3px solid #C1D2B2;
  font-size: 2vh;
  width: 30%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.25vh;
}
.result .result-options .result-options-buttons {
  width: 25.53%;
}
/*UPLOAD*/
#upload{
  height: 450px;
  border-radius: 3em;
  border: 3px solid black;
}

/*Contact*/

.contact{
  height: 800px;
}

/*about*/

.about{
  height: 800px;
}

/*forum*/

.forum{
  height: 800px;
}

/*account*/

.account{
  height: 800px;
}

/*SIGN UP*/
#sign-up{
  margin-top: 1em;
  height: 310px;
  border-radius: 3em;
  border: 3px solid black;
}
/*login*/
#log-in{
  height: 300px;
  width: 30%;
  align-items: center;
  padding-top: 5em;
  border-radius: 3em;
  border: 3px solid black;
}

/*General Forms*/

.other-aside{
  width: 16%;
  position: -webkit-sticky;
  position: sticky;
  height: 0em;
  top:.5em ;
}
 .sidebar-logo{
  padding-top: .9em;
  padding-bottom: .9em;
}
form{
  background-color: #C1D2B2;
  padding: 2em;
}
form div {
  margin-bottom: .5em;
}

.submit input{
  margin-top: .3em;
  background-color: rgb(219, 216, 216);
  width: 5em;
  height: 2.4em;
  border-radius: .3em;
}

.submit input:hover{
  background-color: rgb(192, 186, 186);
}


/*SIGN UP SPECIFIC*/
.sign-up .terms a{
  text-decoration: underline;
}

.sign-up-options input{
  margin:.2em;
  width:9em;
  height:2em
}

/*UPLOAD SPECIFIC*/
#upload #description input{
  height: 7em;
  width: 20em;
}

#upload #tags input{
  margin:.2em;
  width:9em;
  height:2em
}

.highlightButton{
  background-color: #4c9e9e;
}

/*Color Swaps*/
/*dark*/


.dark main{
  background-color: rgb(102, 102, 102);
}

.dark .wrapper{
  background-color:  rgb(102, 102, 102) ;
}

.dark #NavBar{
  background-color:black;
  color: #ffffff;
}

.dark .highlightButton{
  background-color: darkmagenta;
}
.dark #dropdown li:hover {
  background-color: darkmagenta;
}

.dark .menu li:hover {
  background-color: darkmagenta;
}

.dark .nav-links a{
  color: #ffffff;
}

.dark .sidebar{
  background-color: rgb(58, 55, 55);
  color: white;
}

.dark .sidebar .filter{
  background-color: rgb(105, 102, 102);
}

.dark .result{
  background-color: rgb(73, 71, 71);
  color: white;
}
.dark .result a{
  color: rgb(207, 207, 207);
}

.dark .submit input:hover{
  background-color: darkmagenta;
}

.dark #dropdown {
  background-color: rgb(61, 8, 61)
}
/*neutral*/

.neutral main{
  background-color: beige;
}

.neutral .wrapper{
  background-color:  rgb(236, 225, 173) ;
}

.neutral #NavBar{
  background-color:burlywood;
  color: #ffffff;
}

.neutral .highlightButton{
  background-color: brown;
}
.neutral #dropdown li:hover {
  background-color: rgb(253, 185, 82);
}

.neutral .menu li:hover {
  background-color: rgb(253, 185, 82);
}

.neutral .nav-links a{
  color: #ffffff;
}

.neutral .sidebar{
  background-color: #fdecb5;
}

.neutral .sidebar .filter{
  background-color: rgb(243, 211, 168);
}

.neutral .result{
  background-color: rgb(243, 211, 168);
}

.neutral .submit input:hover{
  background-color: rgb(192, 186, 186);
}

.neutral #dropdown {
  background-color: rgb(255, 153, 0)
}


/*Green*/
.green main{
  background-color: #e1f0d9;
}

.green .wrapper{
}

.green #NavBar{
  background-color:rgb(18, 107, 18);
  color: #ffffff;
}

.green .highlightButton{
  background-color: #4c9e9e;
}
.green #dropdown li:hover {
  background-color: #4c9e9e;
}

.green .menu li:hover {
  background-color: #4c9e9e;
}

.green .nav-links a{
  color: #ffffff;
}

.green .sidebar section{
  background-color: #C1D2B2;
}

.green .sidebar .filter{
  background-color: #fbfde1;
}

.green .result{
  background-color: #fbfde1;
}

.green .submit input:hover{
  background-color: rgb(192, 186, 186);
}

.green #dropdown {
  background-color: rgb(1, 139, 139)
}

/*modern*/
.modern main{
  background-color: white;
}

.modern .wrapper{
  background-color:  white ;
}

.modern #NavBar{
  background-color: #Df4c73;
  color: #ffffff;
}

.modern .highlightButton{
  background-color: #ff608a;
}
.modern #dropdown li:hover {
  background-color: #ff608a;
}

.modern .menu li:hover {
  background-color: #ff608a;
}

.modern .nav-links a{
  color: #ffffff;
}

.modern .sidebar{
  background-color: #b0dde4;
}

.modern .sidebar .filter{
  background-color: #e2f0f9;
}

.modern .result{
  background-color: #e2f0f9;
}

.modern .submit input:hover{
  background-color: rgb(192, 186, 186);
}

.modern #dropdown {
  background-color: #ff3b70
}
/*HIDE CONTENT*/

.hidden {
  display: none;
}

/*RATING*/
.rating {
/*display: flex;*/
flex-direction: row-reverse;
justify-content: center;
padding-right: .5em;
font-size: 2vh;
}
.rating > input{
 display:none;
}
.rating > label {
font-size: 1.5em;
color: #FFD700;
cursor: pointer;
}
.rating > label::before{
content: “\2605”;
position: absolute;
opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
opacity: 1 !important;
}
.rating > input:checked ~ label:before{
opacity:1;
}
.rating:hover > input:checked ~ label:before{
opacity: 0.4;
 }