
/*#region UTILITIES */
body {
  font-family: Bahnschrift;
  padding-left: 2%;
  padding-right: 2%;
}
main {
  padding-top: 13em;
  text-align: center;
  height: 710px;
  background-color: #e1f0d9;
  border-radius: 2em;
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/*#endregion*/
/*NAVBAR STYLING STARTS*/
/*#region mainBar*/
#spacer{
  height: 4em;
  position: fixed;
  color: white;
  background-color: white;
  width: 100%;
}
#NavBar {
  margin-top: .5em;
  position: fixed;
  width: 80%;
  display: block;
  margin-left: 16%;
  padding: 20px;
  background-color:rgb(18, 107, 18);
  color: #ffffff;
  overflow: hidden;
  border-top-right-radius: 1.75em;
  border-bottom-right-radius: 1.75em;
  height: 10em;
  min-height: 5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}
#NavBar .nav-links{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#NavBar .search-bar{
  text-align:right;
  margin-top: 5.5vh;
}
#NavBar .search-bar input{
  border-radius: 1.25em;
  font-size: 1.5em;
  width: 15em;
  height: 1.5em;
  padding-left: .5em;
}


.nav-links a {
  color: #ffffff;
  font-size: 1.2em;
}
/*#endregion*/
/*#region LOGO */
#logo{
  width: 100px;
}

.logo p{
  font-size: .5em;
  text-decoration: none;
}
/*#endregion*/
/*#region NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor:pointer;
}

.menu li {
  padding: 5px 14px;
  height: 1.65em;
}
/*#endregion*/
/*#region DROPDOWN MENU */
.services {
  position: relative; 
}

#dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  display: none;
  border-radius: 8px;
}

#dropdown li + li {
  margin-top: 10px;
}

#dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
  height: 2em;
}

#dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover #dropdown {
  display:block;
  position: fixed;
}
/*#endregion*/
/* BODY STYLING STARTS*/
/*#region mainbody*/
.wrapper {
  display: flex;
  justify-content: space-between;
}
.main {
  width: 100%;
  position:static;
  background-color: #C1D2B2;
  padding: 14vh;
  margin-top: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
/*#endregion*/
/*#region sidebar*/
.sidebar {
  width: 20%;
  height: 93.5vh;
  position: -webkit-sticky;
  position: sticky;
  top: .5em;
  margin-right: .5em;
  margin-top: .5em;
  border-top-left-radius: 2em;
  overscroll-behavior-y:auto;
  overflow:auto;
}

.sidebar .sidebar-logo-wrapper{
  border-top-left-radius: 2em;
}

.sidebar-logo{
  background-color:rgb(18, 107, 18);
  align-items: center;
  text-align: center;
  color: white;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  padding-top: .75em;
}

.sidebar #title{
  padding-left: .75em;
  padding-top: .2em;
  padding-bottom: .2em;
  color: #366229;
}

.sidebar-main section{
  padding-left: 1em;
  padding-right: 1em;
  margin-top: .3em;
  padding-top: .2em;
  padding-bottom: .5em;
}

.sidebar-main .filter {
  margin-top: 1em;
  margin-bottom: .5em;
  border-radius: .15em;
  padding-left: .25em;
  background-color: #fbfde1;
  padding-top: .2em;
  font-size: .875em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-main #category-name{
  margin-top: .3em;
  font-size: larger;
}

.sidebar .sidebar-main .min-rating{
  border-bottom-left-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
  height: 4.5em;
}


#rating-dropdown{
  margin-top: .25em;
}
#rating-dropdown select{
  margin-top: .25em;
}
/*#endregion*/
/*#region results*/


.result{
  border-radius: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #71885C;
}
.result-main {
  margin-top: 4em;
  border-radius: .5em;
  background-color: #fbfde1;
  display: flex;
  height: 6.5em;
  
}
.result-main .result-title{
  width: 25%;
  border-right: solid 3px #C1D2B2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  font-size: 1.3em;
  text-decoration: none;
  color: #366229;
  font-size: large;
  font-weight: 750;
}
.result-main .result-description{
  width: 80%;
  padding: 1em;
}
.result .result-options{
  background-color: #71885C;
  display: flex;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  justify-content: space-between;
  height: 4.25vh;
}
.result .result-options .result-options-buttons a{
  text-decoration: none;
  color: white;
  border-right: 3px solid #C1D2B2;
  font-size: 2vh;
  width: 30%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.25vh;
}
.result .result-options .result-options-buttons a:hover{
  cursor: pointer;
}
.result .result-options .result-options-buttons {
  width: 25.53%;
}
/*#endregion*/
/*#region specificForms*/
/*Contact*/

.contact{
  height: 800px;
}

/*about*/

.about{
  height: 800px;
}

/*forum*/

.forum-sidebar {
  text-align: center;
  color: #37632A;
}
.forum-sidebar .sidebar-main .forum-link{
  margin-top: .75em;
  background-color: #FAFDE2;
  border-radius: .15em;
  color: black;
  font-weight: 100;
  height: auto;
  padding: .25em;
  
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
.forum-sidebar .sidebar-main .forum-link a{
  color: black;
}
.forum-sidebar .sidebar-main .features{
  padding-bottom: 1em;
}
.forum-sidebar .sidebar-main .related-communities{
  padding-bottom: 1em;
}
.forum-sidebar .sidebar-main .events{
  height: 11.5em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
.forum-sidebar .sidebar-main .event-date{
  width: 30%;
  margin-top: 1.1em;
  font-size: 1.5vh;
  height: 30%;
}

.forum-sidebar .sidebar-main .event-link{
  width: 65%;
}
.forum-sidebar .sidebar-main .event{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.forum-main{
  padding-top: 12.5em;
  z-index: -2;
}
.forum-top-bar{
  position: fixed;
  width: 80%;
  top: 8em;
  margin-left: 16%;
  display: inline-flex;
  justify-content: space-between;
  background-color: #C1D2B2;
  height: 5.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding-left: 1%;
  z-index: 0;
  color: #214F11;
}
.forum-top-bar .topics{
  margin-top: 3em;
}
.forum-top-bar .other{
  display: inline-flex;
}

.forum-post-ui{
  z-index: 10;
  position: fixed;
  top: 20em;
}

.forum-top-bar .new-post-button{
  background-color: #C1D2B2;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20em;
  margin-bottom: 1em;
  height: 2.2em;
  margin-top: 3.6em;
  width: 6em;
  border-radius: .3em;
  color: #214F11;
  font-weight: 525;
}
.forum-top-bar .new-post-button:hover{
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.forum-top-bar .stats{
  display: inline-flex;
  padding-right: 8.75%;
  margin-top: 3.5em;
}
.forum-top-bar .stats p{
  font-size: 2vh;
  padding-right: 2.8em;
}

.forum-post{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 12vh;
  margin-bottom: .5em;
}

.forum-post-stats{
  display: inline-flex;
  justify-content: space-between;
  width: 45%;
}
.forum-post-main{
  background-color: #FAFDE2;
  width: 100%;
  margin-right: .25em;
  padding-top: 1em;
  padding-left: 4.5em;
  
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
.forum-post-main .brief-post{
  margin-bottom: .33em;
  font-weight: 150;
  font-size: 3.2vh;
}
.forum-post-stats div{
  background-color: #FAFDE2;
  width: 100%;
  margin-right: .2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
.forum-post-stats div h1{
  font-weight: 200;
}

.forum-post-main .full-post{
  font-weight: 100;
  font-size: 1.5vh;
}
/*account*/

.account{
  height: 800px;
}

/*login*/
#log-in{
  height: 300px;
  width: 30%;
  align-items: center;
  padding-top: 5em;
  border-radius: 3em;
  border: 3px solid black;
}
/*#endregion*/
/*#region General Forms*/

.other-aside{
  width: 16%;
  position: -webkit-sticky;
  position: sticky;
  height: 0em;
  top:.5em ;
}
 .sidebar-logo{
  padding-top: .83em;
  padding-bottom: .83em;
}
form{
  background-color: #C1D2B2;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form input{
  border-radius: .5em;
}
form div {
  margin-bottom: .5em;
}

.submit input{
  margin-top: .3em;
  background-color: rgb(219, 216, 216);
  width: 5em;
  height: 2.4em;
  border-radius: .3em;
}

.submit input:hover{
  background-color: rgb(192, 186, 186);
}

/*#endregion*/
/*#region SIGN UP SPECIFIC*/
#sign-up{
  margin-top: 1em;
  height: 310px;
  border-radius: 3em;
  border: 3px solid black;
}
.sign-up .terms a{
  text-decoration: underline;
}

.sign-up-options input{
  margin:.2em;
  width:9em;
  height:2em
}
/*#endregion*/
/*#region UPLOAD SPECIFIC*/
#upload{
  height: 450px;
  border-radius: 3em;
  border: 3px solid black;
}
#upload #description input{
  height: 7em;
  width: 20em;
}

#upload #tags input{
  margin:.2em;
  width:9em;
  height:2em
}

.highlightButton{
  background-color: #4c9e9e;
}
/*#endregion*/
/*Color Swaps*/
/*#region Dark*/
.dark .forum-post-main{
  background-color: #141414;
  color: whitesmoke;
}

.dark .forum-post-stats div{
  background-color: #141414;
  color: whitesmoke;
}

.dark .forum-top-bar{
  background-color: #292929;
  color: yellowgreen;
}

.dark .forum-sidebar .sidebar-main .forum-link{
  background-color: #141414;
  color: whitesmoke;
}

.dark .forum-sidebar .sidebar-main .forum-link a{
  color: whitesmoke;
}

.dark .forum-sidebar {
  color: #6E4E36;
}

.dark .sidebar{
  color: whitesmoke;
}
.dark main{
  background-color: #292929;
}
.dark form{
  background-color: #0c0c0c;
  color: whitesmoke;
}
.dark .main{
  background-color: #292929;
}

.dark #spacer{
  background-color: #0c0c0c;
}

.dark #NavBar{
  background-image: url("./images/Dark_Background.png");
  background-size: cover;;
  color: whitesmoke;
}

.dark .highlightButton{
  background-color: #BB86FC;
}
.dark #dropdown li:hover {
  background-color:  #BB86FC;
}

.dark .menu li:hover {
  background-color: #BB86FC;
}
.dark .nav-links a{
  color: whitesmoke;
}
.dark .sidebar-logo{
  background-image: url("./images/Dark_Logo.png");
  background-size: cover;
}

.dark .sidebar #title{
  color: whitesmoke;
}

.dark .sidebar section{
  background-color: #292929;
}

.dark .sidebar .filter{
  background-color: #141414;
  color: whitesmoke;
}

.dark .result{
  background-color: #141414;
}
.dark .result-main{
  background-color: #141414;
  color: whitesmoke;
}
.dark .result .result-options .result-options-buttons a{
  border-right: 3px solid #292929;
}

.dark .result-main .result-title{
  border-right: solid 3px #292929;
  color: whitesmoke;
}
.dark .submit input:hover{
  background-color: whitesmoke;
}

.dark #dropdown {
  background-color: 02DAC5
}
.dark .result .result-options{
  background-color: darkslateblue;
  color: whitesmoke;
}
/*#endregion dark*/
/*#region Neutral*/
.neutral .forum-post-main{
  background-color: #EFDDCD;
}

.neutral .forum-post-stats div{
  background-color: #EFDDCD;
}

.neutral .forum-top-bar{
  background-color: #D1B399;
  color: #6E4E36;
}
.neutral .forum-sidebar .sidebar-main .forum-link{
  background-color: #EFDDCD;
  color: black;
}
.neutral .forum-sidebar .sidebar-main .forum-link a{
  color: black;
}
.neutral .forum-sidebar {
  color: #6E4E36;
}
.neutral main{
  background-color: #D1B399;
}
.neutral form{
  background-color: #EFDDCD;
}
.neutral .main{
  background-color: #D1B399;
}

.neutral #NavBar{
  background-image: url("./images/Neutral_Background.png");
  background-size: cover;
  color: #ffffff;
}

.neutral .highlightButton{
  background-color: #c5a694;
}
.neutral #dropdown li:hover {
  background-color: #9F8271;
}

.neutral .menu li:hover {
  background-color: #9F8271;
}
.neutral .nav-links a{
  color: #ffffff;
}
.neutral .sidebar-logo{
  background-image: url("./images/Neutral_Logo.png");
  background-size: cover;
}

.neutral .sidebar #title{
  color: #6E4E36;
}

.neutral .sidebar section{
  background-color: #D1B399;
}

.neutral .sidebar .filter{
  background-color: #EFDDCD;
}

.neutral .result{
  background-color: #6E4E36;
}
.neutral .result-main{
  background-color: #EFDDCD;
}
.neutral .result .result-options .result-options-buttons a{
  border-right: 3px solid #D1B399;
}

.neutral .result-main .result-title{
  border-right: solid 3px #D1B399;
  color: #6E4E36;
}
.neutral .submit input:hover{
  background-color: rgb(192, 186, 186);
}

.neutral #dropdown {
  background-color: #836a5b
}
.neutral .result .result-options{
  background-color: #6E4E36;
}
/*#endregion Neutral*/
/*#region Green*/

.green .forum-post-main{
  background-color: #FAFDE2;
}

.green .forum-post-stats div{
  background-color: #FAFDE2;
}

.green .forum-top-bar{
  background-color: #C1D2B2;
  color: #214F11;
}
.green .forum-sidebar .sidebar-main .forum-link{
  background-color: #FAFDE2;
  color: black;
}
.green .forum-sidebar .sidebar-main .forum-link a{
  color: black;
}
.green .forum-sidebar {
  color: #37632A;
}

.green main{
  background-color: #e1f0d9;
}

.green .main{
  background-color: #C1D2B2;
}

.green #NavBar{
  background-image: url("./images/Green_Background.png");
  background-size: cover;
  color: #ffffff;
}

.green .highlightButton{
  background-color: #4c9e9e;
}
.green #dropdown li:hover {
  background-color: #4c9e9e;
}

.green .menu li:hover {
  background-color: #4c9e9e;
}

.green .nav-links a{
  color: #ffffff;
}
.green .sidebar-logo{
  background-image: url("./images/Green_Logo.png");
  background-size: cover;
}
.sidebar #title{
  color: #366229;
}
.green .sidebar section{
  background-color: #C1D2B2;
}

.green .sidebar .filter{
  background-color: #fbfde1;
}

.green .result{
  background-color: #71885C;
}

.green .submit input:hover{
  background-color: rgb(192, 186, 186);
}

.green #dropdown {
  background-color: rgb(1, 139, 139)
}

.green .result-main{
  background-color: #fbfde1;
}
.green .result .result-options{
  background-color: #71885C;
}
.green .result .result-options .result-options-buttons a{
  border-right: 3px solid #C1D2B2;
}

.green .result-main .result-title{
  border-right: solid 3px #C1D2B2;
  color: #366229;
}
/*#endregion*/
/*#region modern*/
.modern .forum-post-main{
  background-color: #E2F0F9;
}

.modern .forum-post-stats div{
  background-color: #E2F0F9;
}

.modern .forum-top-bar{
  background-color: #B0DDE4;
  color: #5769B1;
}
.modern .forum-sidebar .sidebar-main .forum-link{
  background-color: #E2F0F9;
  color: black;
}
.modern .forum-sidebar .sidebar-main .forum-link a{
  color: black;
}
.modern .forum-sidebar {
  color: #5769B1;
}

.modern main{
  background-color: #E2F0F9;
}
.modern form{
  background-color: #b0dde4;
}
.modern .main{
  background-color: #b0dde4;
}

.modern #NavBar{
  background-image: url("./images/Modern_Background.png");
  background-size: cover;
  color: #ffffff;
}

.modern .highlightButton{
  background-color: #ff608a;
}
.modern #dropdown li:hover {
  background-color: #ff608a;
}

.modern .menu li:hover {
  background-color: #ff608a;
}
.modern .nav-links a{
  color: #ffffff;
}
.modern .sidebar-logo{
  background-image: url("./images/Modern_Logo.png");
  background-size: cover;
}

.modern .sidebar #title{
  color: #5769b1;
}

.modern .sidebar section{
  background-color: #b0dde4;
}

.modern .sidebar .filter{
  background-color: #e2f0f9;
}

.modern .result{
  background-color: #5769b1;
}
.modern .result-main{
  background-color: #e2f0f9;
}
.modern .result .result-options .result-options-buttons a{
  border-right: 3px solid #b0dde4;
}

.modern .result-main .result-title{
  border-right: solid 3px #b0dde4;
  color: #5769b1;
}
.modern .submit input:hover{
  background-color: rgb(192, 186, 186);
}

.modern #dropdown {
  background-color: #ff3b70
}
.modern .result .result-options{
  background-color: #5769b1;
}
/*#endregion*/
/*#region HIDE CONTENT*/

.hidden {
  display: none;
}
/*#endregion*/
/*#region RATING*/


.rating {
/*display: flex;*/
flex-direction: row-reverse;
justify-content: center;
padding-right: .5em;
font-size: 2vh;
}
.rating  input{
 display:none;
}
.rating > label {
font-size: 1.5em;
color: #FFD700;
cursor: pointer;
}
.rating > label::before{
content: “\2605”;
position: absolute;
opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
opacity: 1 !important;
}
.rating > input:checked ~ label:before{
opacity:1;
}
.rating:hover > input:checked ~ label:before{
opacity: 0.4;
 }
 /*#endregion*/
/*#region reviews pop-up*/
.blur {
  filter: blur(2px);
}
.blur #NavBar{
  margin-left: 14.3em;
  width: 83.5%;
}

.no-overflow{
  overflow: hidden;
}

.pop-up-reviews {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  position:fixed;
  z-index: 5;
  top: 20vh;
  width: 50%;
  border-radius: 3em;
  margin-left: 25%;
  margin-right: 25%;
  height: 30em;
  background-color: #FBFDE1;
  padding: .5em;
  padding-top: 1em;
  overflow-y: scroll;
}

.pop-up-reviews h1{
  padding-bottom: .3em;
  
  text-align: center;
}
.pop-up-reviews .post-review{
  margin-left: 10vh;
}
.pop-up-reviews .close-reviews{
  margin-left: 64vh;
}

.pop-up-reviews .review-button{
  position: fixed;
  top: 13.3em;
  height: 2.35em;
  width: 7em;
  border-radius: 1em;
  background-color: #dde7d4;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.pop-up-reviews .review{
  width: 80%;
  margin-top: 1em;
  margin-left: 15%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  padding: .25em;
}
.pop-up-reviews .review-button:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pop-up-reviews .add-review{
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

.pop-up-reviews .add-review .submit{
  height: 1.85em;
  width: 4em;
  margin-top: .5em;
}

.pop-up-reviews .add-review .above{
  width: 100%;
}
.pop-up-reviews .add-review .above{
  width: 100%;
}
.pop-up-reviews .add-review .comment{
  width: 100%;
  margin-top: .2em;
  height: 3em
}

.pop-up-reviews img{
  width: 5em;
  height: 1em;
  margin-right: 2em;
}
.pop-up-reviews .above{
  display: inline-flex;
  justify-content: space-between;
}
/*#endregion*/

/*#region forum-post*/
.forum-post-ui{
  z-index: 10;
  position: fixed;
  top: 7em;
  width: 50%;
  margin-left: 25%;
  padding-left: 6em;
  padding-top: 2em;
  height: 35em;
  background-color: #E3EFDB;
  border-radius: 3em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.forum-post-ui .tag-buttons{
  text-align: center;
  margin-right: 6em;
}
.forum-post-ui .tag-buttons input{
  width: 24%;
  height: 2em;
  border-radius: .25em;
  border: 1px solid black;
  margin-top: .35em;
}

.forum-post-ui .submit-wrapper{
  text-align: center;
  margin-right: 6em;
}

.forum-post-ui .submit{
  width: 30%;
  height: 2.3em;
  margin-top: 1em;
  border: 1px solid black;
  border-radius: .25em;
}

.forum-post-ui .forum-post-brief{
  margin-bottom: .5em;
  margin-top: 1em;
}
.forum-post-ui .forum-post-brief input{
  width: 70%;
}

.forum-post-ui .forum-post-full{
  margin-bottom: 1em;
}

.forum-post-ui .forum-post-full input{
  width: 85%;
  height: 11em;
}
/*#endregion*/